/******标题按钮******/
TitleButton {
    background-color: rgba(0, 0, 0, 0);
    color: black;
    border: 0px;
    font-family: 'Webdings';
    }
TitleButton#MinButton:hover {
    background-color: #D0D0D1;
    }
TitleButton#MaxButton:hover {
    background-color: #D0D0D1;
    }
TitleButton#CloseButton:hover {
    background-color: #D32424;
    color: white;
    }
